<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css"  rel="stylesheet" href="Login.css" >
    <title>Document</title>
</head>
<body>
    <div class="login-container">
    <form action="/welcome" method="post">
        <h3>Login</h3>

        <div class="input">
        <label for="email">UserEmail</label>
         <input type="text" id="email" name="email" placeholder="email"><br>
         </div>
         <div class="input">
         <label for="Password">Password</label>
         <input type="Password" id="Password" name="Password" placeholder="Password"><br>
         </div>
         <button><input type="submit" name="Password" placeholder="submit">
           
    </form>
    </div>


</body>
</html>