<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link type="text/css" href="Users.css" rel="stylesheet>">
</head>
<body>
    <h1 id="large-title">User Registration</h1>
   <!--<label for="Login">Have an Account?</label>-->
    <!--<a href="Login.html">Log in</a> </span><br>-->

      <h1>Sign up</h1>
            <h5>Create a Free Account with Your Email</h5>
            <form action="/createuser" method="post">
                    <level for="Username">Username</level>
                    <input type="text" id="Username" name="Username" placeholder="Username" required><br>

                    <level for="Lastname">Lastname</level>
                    <input type="text" id="Lastname" name="Lastname" placeholder="Lastname" required><br>


                    <label for="email">Email</label> 
                    <input type="email" id="email" name="email" placeholder="Email" required><br>

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="password"  required><br>

                    <label for="shippingAddress">Shipping Address</label>
                    <input type="textarea" id="shippingAddress" name="shippingAddress" placeholder="shippingAddress" required><br>

                    <label for="billingAddress">Billing Address</label>
                    <input type="textarea" id="billingAddress" name="billingAddress" placeholder="billingAddress" required><br>

                    <input type="submit" value="Register"> Already Have an Account...? <button><a href="Login.html">Login in</a></button>
            </form>


   

</body>
</html>

